* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .banner {
    display: flex;
    height: 40px;
    background-color:black;
    justify-content: space-between;
    padding-left: 120px;

}


.banner img {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    height: 50%;
}

nav {
    display: flex;
    position: relative;
    right: 100px;
    padding: 9px 0;
    margin: 5px;
    text-align: right;
    
}

ul {
    list-style-type: none;
}

li{
    display: inline;
}

a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    font-family: Helvetica;
}


.top {
    display: flex;
    height: 80vh;
    text-align: center;
    background-image: url(./images/hero-image.jpg);
    width: auto;
    align-items: center;
    color: white;
    font-family: "fonts/glyphicons-halflings-regular.ttf", Arial;
}

.top img {
    padding-top: 50px;
}

.text {
    text-align: center;
    margin: auto;
    width: 800px;
}

span {
    color: #b32400;
}

h1 {
    font-family: "Arvo";
    text-align: center;
    font-size: 3rem;
    padding-top: 50px;
}

p.text-top {
    font-family: helvetica;
    padding-top: 30px;
    padding-bottom: 20px;
}

.tiret {
    color: #b32400;
}

button {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:12px;
	border:2px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 33px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

button:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}

button:active {
	position:relative;
	top:1px;
}

i {
    font-size: 30px;
    right: 10px;
    bottom: 300px;
    position: fixed;
}

     

h2 {
    color: #b32400;
    padding: 0;
    font-family: helvetica;
}

h3 {
    color: #b32400;
    font-family: helvetica;
}

.section1 {
    padding-top: 40px;
    text-align: center;
    background: white;
}

.section1 p {
    padding-top: 0;
    padding-bottom: 20px;
    font-family: helvetica;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.gets {
    background: rgb(211, 211, 211);
}

.button-gets {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#eb2626;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button-gets:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.button-gets:active {
	position:relative;
	top:1px;
}

.get {
    width: 20px;
}

.get img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.get p {
    padding-top: 20px;
    padding-bottom: 0;
    font-family: helvetica;
    width: 200px;
    text-align: center;
    margin: auto;
}


.get-container p {
    padding-top: 20px;
    padding-bottom: 20px;
}


main > section.gets {
    text-align: center;
    padding: 50px 20px;
}
  
section.gets > .get-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
section.gets .get-container .get {
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box;
}

.footer {
    background: #b32400;
    padding-bottom: 50px;
}

.footer img {
    display: flex;
    padding-top: 150px;
    padding-left: 80px;
}

/* Media Queries */
  
  /* Pour les écrans jusqu'à 900px de large */
  @media (max-width: 900px) {
    section .get-container .get {
        flex-basis: calc(50% - 20px); /* Ajustez le 20px si votre gap est différent */
    }
  }
  
  /* Pour les écrans jusqu'à 600px de large */
  @media (max-width: 600px) {
    section .get-container {  /* modif pour affichage colonne */
      flex-direction: column;

    }
    section .get-container .get {
        flex-basis: 100%;
    }

    .footer img {
        width: auto ;
    }
  }